<ion-tabs>
  <ion-tab-bar slot="bottom" class="bottom-bar">
     

    <ion-tab-button tab="tab1">
      <img class="tab-icon" src="../../assets/doctors.svg"/>
 
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img class="tab-icon" src="../../assets/users.svg"/>

    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <img class="tab-icon" src="../../assets/pills.svg"/>

    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <img class="tab-icon" src="../../assets/user.svg"/>
  
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
