<ion-header no-shadow no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    
    <div class="avatar-content">
        <ion-avatar class="avatar">
            <img src="../../assets/picture_1558954558086.jpg">
          </ion-avatar>
        </div>
  </ion-toolbar>
</ion-header>



<ion-content > 
  afficher une search bar pour chercher les medecins

  Si c'est un patients, afficher les dernier rdv passer 
</ion-content>
 